.home-banner {
  width: 100%;
  height: 100vh;
  background-image: url(../../../assets/images/homepage/bannerImage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 2;
}
.home-banner .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 0;
}
.home-banner .homeWrap {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 99;
}
.home-banner .homeWrap h1 {
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
}
.home-banner .homeWrap .tagLine {
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  font-weight: normal;
}
.home-banner .homeWrap a {
  margin-top: 30px;
}

.HomeAbout {
  padding: 100px 0;
  background-color: #fff;
}
@media screen and (max-width: 991px) {
  .HomeAbout {
    padding: 50px 0;
  }
}
.HomeAbout .contentWrap .subTitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 14px;
  color: #e6c700;
}
.HomeAbout .contentWrap h2 {
  color: #0F172B;
  font-weight: medium;
  margin-bottom: 30px;
  max-width: 15ch;
}
@media screen and (max-width: 991px) {
  .HomeAbout .contentWrap h2 {
    margin-bottom: 20px;
    max-width: 20ch;
  }
}
.HomeAbout .contentWrap p {
  color: #272727;
  max-width: 60ch;
}
@media screen and (max-width: 991px) {
  .HomeAbout .contentWrap p {
    margin-bottom: 50px;
  }
}
.HomeAbout .imageWrap {
  display: flex;
  gap: 30px;
  overflow: hidden;
}
@media screen and (max-width: 572px) {
  .HomeAbout .imageWrap {
    gap: 10px;
  }
}
.HomeAbout .imageWrap .grid-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 0 0 50%;
}
@media screen and (max-width: 572px) {
  .HomeAbout .imageWrap .grid-item {
    gap: 10px;
  }
}
.HomeAbout .imageWrap .grid-item .item1 {
  width: 100%;
  height: 320px;
  overflow: hidden;
}
@media screen and (max-width: 572px) {
  .HomeAbout .imageWrap .grid-item .item1 {
    height: 250px;
  }
}
.HomeAbout .imageWrap .grid-item .item1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.HomeAbout .imageWrap .grid-item .item2 {
  width: 100%;
  height: 160px;
  overflow: hidden;
}
@media screen and (max-width: 572px) {
  .HomeAbout .imageWrap .grid-item .item2 {
    height: 90px;
  }
}
.HomeAbout .imageWrap .grid-item .item2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.HomeAbout .imageWrap .grid-item .item3 {
  width: 100%;
  height: 150px;
  overflow: hidden;
}
@media screen and (max-width: 572px) {
  .HomeAbout .imageWrap .grid-item .item3 {
    height: 100px;
  }
}
.HomeAbout .imageWrap .grid-item .item3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.HomeAbout .imageWrap .grid-item .item4 {
  width: 100%;
  height: 280px;
  overflow: hidden;
}
@media screen and (max-width: 572px) {
  .HomeAbout .imageWrap .grid-item .item4 {
    height: 180px;
  }
}
.HomeAbout .imageWrap .grid-item .item4 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.OurRooms {
  background-color: #ffffff;
  padding: 100px 0;
  overflow: hidden;
}
.OurRooms .title {
  margin-bottom: 40px;
}
.OurRooms .title h2 {
  color: #252525;
  text-align: center;
}
.OurRooms .property-item {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
}
.OurRooms .property-item img {
  transition: 0.5s;
  width: 100%;
  height: 225px;
}
@media screen and (max-width: 991px) {
  .OurRooms .property-item img {
    height: 200px;
  }
}
.OurRooms .property-item:hover img {
  transform: scale(1.1);
}
.OurRooms .property-item .border-top {
  border-top: 1px dashed rgba(243, 224, 15, 0.8) !important;
}
.OurRooms .property-item .border-end {
  border-right: 1px dashed rgba(243, 224, 15, 0.8) !important;
}

.OurService {
  background-color: #0F172B;
  padding: 9.375rem 0 8.125rem;
}
@media screen and (max-width: 1199.98px) {
  .OurService {
    padding: 4.0625rem 0 3.4375rem;
  }
}
@media screen and (max-width: 991.98px) {
  .OurService {
    padding: 1.5625rem 0 1.5625rem;
  }
}
.OurService .dream-home-wrap {
  max-width: 70.5625rem;
  margin: auto;
}
.OurService .dream-home-wrap > .row {
  --bs-gutter-x: 2.5625rem;
}
.OurService .title-wrap {
  margin-bottom: 2.125rem;
  margin-top: 1.75rem;
}
@media screen and (max-width: 1199.98px) {
  .OurService .title-wrap {
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 991.98px) {
  .OurService .title-wrap {
    margin-top: 0rem;
    margin-bottom: 0.5rem;
  }
}
.OurService .title-wrap h2 {
  max-width: 26.25rem;
  margin-bottom: 0;
  color: #ffffff;
}
@media screen and (max-width: 1199.98px) {
  .OurService .title-wrap h2 {
    max-width: 20rem;
  }
}
.OurService .img-wrap {
  max-width: 34rem;
  width: 100%;
}
.OurService .img-wrap figure {
  padding-top: calc(680 / 544 * 100%);
  position: relative;
  overflow: hidden;
}
.OurService .img-wrap figure img {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
}
.OurService .img-wrap img {
  transition: all ease-out 0.5s;
  will-change: transform opacity;
}
.OurService .img-wrap img.active {
  transform: scale(1.05);
  opacity: 0.9;
}
.OurService .img-wrap-sm {
  margin: auto;
  margin-bottom: 1.5rem;
}
.OurService .img-wrap-sm figure {
  padding-top: calc(327 / 327 * 100%);
  position: relative;
}
.OurService .img-wrap-sm figure img {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
}
.OurService .dream-home-accordion {
  margin-left: 2.5rem;
}
@media screen and (max-width: 991.98px) {
  .OurService .dream-home-accordion {
    margin-left: 0;
  }
}
.OurService .dream-home-accordion .accordion .accordion-item {
  background: transparent !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.OurService .dream-home-accordion .accordion .accordion-item.active {
  pointer-events: none;
}
@media screen and (max-width: 991.98px) {
  .OurService .dream-home-accordion .accordion .accordion-item:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
}
.OurService .dream-home-accordion .accordion-button {
  padding: 1.5rem 0 1.5rem;
  box-shadow: none;
  background: transparent;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
}
.OurService .dream-home-accordion .accordion-button::after {
  background-image: url("data:image/svg+xml,%3Csvg width='9' height='14' viewBox='0 0 9 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 0.999882L7.45896 7.15565L1 13.1909' stroke='white' stroke-width='2' stroke-linejoin='bevel'/%3E%3C/svg%3E ");
  background-size: 8px;
  width: 10px;
  height: 12px;
}
.OurService .dream-home-accordion .accordion-button:not(.collapsed)::after {
  transform: rotate(-90deg);
}
.OurService .dream-home-accordion .accordion-body {
  padding: 0 0 2.1875rem;
  color: #fff;
  letter-spacing: -0.01125rem;
}
@media screen and (max-width: 1199.98px) {
  .OurService .dream-home-accordion .accordion-body {
    padding: 0 0 1.5rem;
    letter-spacing: -0.01rem;
  }
}

.about-properties {
  overflow: hidden;
  padding: 100px 0;
}
@media screen and (max-width: 991px) {
  .about-properties {
    padding: 60px 0;
  }
}
.about-properties h2 {
  color: #2C2C2C;
  margin-bottom: 50px;
}
.about-properties .left {
  color: #ffffff;
  padding-left: 90px;
}
.about-properties .left h3 {
  max-width: 16ch;
}
@media screen and (max-width: 1599.98px) {
  .about-properties .left {
    padding-left: 60px;
  }
}
@media screen and (max-width: 991.98px) {
  .about-properties .left {
    padding-left: 0px;
  }
}
.about-properties .abt-prop {
  position: relative;
  padding: 10px 0;
  margin-bottom: 90px;
}
@media screen and (max-width: 991.98px) {
  .about-properties .abt-prop {
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 767.98px) {
  .about-properties .abt-prop {
    padding: 50px 0;
  }
}
.about-properties .abt-prop figure {
  height: 500px;
}
@media screen and (max-width: 991.98px) {
  .about-properties .abt-prop figure {
    height: 400px;
  }
}
@media screen and (max-width: 480px) {
  .about-properties .abt-prop figure {
    height: 300px;
  }
}
.about-properties .abt-prop:before {
  position: absolute;
  content: "";
  background: #133A1B;
  left: 15px;
  top: 0;
  width: 0%;
  height: 100%;
  transition: 0.8s ease-in-out;
}
@media screen and (max-width: 991.98px) {
  .about-properties .abt-prop:before {
    left: -10%;
  }
}
.about-properties .abt-prop img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-properties .abt-prop.two:before {
  background: #E4DEAE;
  left: auto;
  right: 15px;
}
@media screen and (max-width: 991.98px) {
  .about-properties .abt-prop.two:before {
    right: -10%;
  }
}
.about-properties .abt-prop.two .left {
  color: #000;
}
.about-properties .abt-prop.visible:before {
  width: 64%;
}
@media screen and (max-width: 991.98px) {
  .about-properties .abt-prop.visible:before {
    width: 120%;
  }
}
.about-properties .swiper-banner-button-prev, .about-properties .swiper-banner-button-next {
  width: 40px;
  height: 40px;
  position: relative;
  cursor: pointer;
}
.about-properties .swiper-banner-button-prev:after, .about-properties .swiper-banner-button-next:after {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.about-properties .swiper-banner-button-next:after {
  transform: translate(-50%, -50%) rotate(-135deg);
}
.about-properties .swiper-pagination-fraction {
  width: 40px;
  text-align: center;
}
.about-properties .swiper-nav-wrapper {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: -50px;
  right: 10px;
}
@media screen and (max-width: 991.98px) {
  .about-properties .swiper-nav-wrapper {
    bottom: -10px;
    right: 0;
  }
}
.about-properties .two .swiper-nav-wrapper {
  right: auto;
  left: 10px;
}
@media screen and (max-width: 991.98px) {
  .about-properties .two .swiper-nav-wrapper {
    left: auto;
    right: 0px;
  }
}
.about-properties .prop-img-slider {
  opacity: 0;
}
@media screen and (max-width: 991.98px) {
  .about-properties .prop-img-slider {
    padding-bottom: 40px;
  }
}
.about-properties .prop-img-slider.swiper-initialized {
  opacity: 1;
}

.home-gallery {
  overflow: hidden;
  padding-bottom: 80px;
}
.home-gallery .top-head {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.home-gallery .top-head .subTitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 14px;
  color: #e6c700;
}
.home-gallery .top-head h2 {
  font-family: "Inter";
  color: #996830;
  letter-spacing: 1px;
}

.care-bottom {
  padding-top: 60px;
  transition-delay: 0.3s;
  position: relative;
}
.care-bottom:before {
  position: absolute;
  content: "";
  background: #fff;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.care-bottom:after {
  position: absolute;
  content: "";
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #fff 5%);
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.4;
}
.care-bottom .care-begin-slides {
  transition: all 0.3s ease-in-out;
  padding-bottom: 50px;
}
.care-bottom .care-begin-slides::-webkit-scrollbar {
  height: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.care-bottom .care-begin-slides:hover::-webkit-scrollbar {
  height: 4px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.care-bottom .care-begin-slides .care-box figure {
  height: 370px;
  margin-bottom: 45px;
  overflow: hidden;
}
.care-bottom .care-begin-slides .care-box figure img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.8s cubic-bezier(0.5, 0, 0, 1);
}
.care-bottom .care-begin-slides .care-box figure:hover img {
  transform: scale(1.05);
}
.care-bottom .swiper-scrollbar {
  background: rgba(177, 177, 177, 0.4);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.care-bottom .swiper-scrollbar-drag {
  background: #000000;
}
.care-bottom .swiper-container-horizontal > .swiper-scrollbar {
  height: 3px;
  width: 100%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  border-bottom: 1px solid rgba(177, 177, 177, 0.4);
}
.care-bottom .swiper-wrapper img {
  width: 100%;
}
.care-bottom .swiper-button-prev {
  width: 70px;
  height: 70px;
  background: #FFFFFF;
  opacity: 0.8;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  z-index: 2;
}
.care-bottom .swiper-button-prev:after {
  position: absolute;
  content: "";
  background: url("../../images/homepage/search-arr.svg");
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-size: contain;
}
.care-bottom .swiper-button-prev::after {
  transform: translate(-50%, -50%) rotate(180deg);
}
.care-bottom .swiper-button-prev:hover {
  opacity: 0.7;
}
.care-bottom .swiper-button-next {
  width: 70px;
  height: 70px;
  background: #FFFFFF;
  opacity: 0.8;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  z-index: 2;
  right: -50px;
  z-index: 2;
}
.care-bottom .swiper-button-next:after {
  position: absolute;
  content: "";
  background: url("../../images/homepage/search-arr.svg");
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-size: contain;
}
.care-bottom .swiper-button-next:hover {
  opacity: 0.7;
}
.care-bottom .swiper-button-prev.swiper-button-disabled {
  display: none;
}
.care-bottom .swiper-button-next.swiper-button-disabled {
  display: none;
}
.care-bottom .owl-carousel {
  z-index: auto;
}
.care-bottom .owl-carousel .owl-stage-outer {
  overflow: visible;
}
.care-bottom .slide-progress {
  width: 0;
  max-width: 100%;
  height: 2px;
  background: #158825;
}
.care-bottom .progress-wheel {
  margin-top: 60px;
  height: 2px;
  border-bottom: 1px solid rgba(177, 177, 177, 0.4);
}

@media (max-width: 1599.98px) {
  .care-bottom {
    padding-top: 50px;
  }
  .care-bottom .care-begin-slides .care-box figure {
    height: 320px;
    margin-bottom: 30px;
  }
  .care-bottom .swiper-button-prev {
    width: 50px;
    height: 50px;
  }
  .care-bottom .swiper-button-next {
    width: 50px;
    height: 50px;
  }
  .care-bottom .progress-wheel {
    margin-top: 40px;
  }
}
@media (max-width: 1199.98px) {
  .care-bottom .care-begin-slider .care-box figure {
    height: 280px;
  }
  .care-bottom .care-begin-slides {
    padding-bottom: 50px;
  }
  .care-bottom .care-begin-slides .care-box figure {
    height: 280px;
  }
  .care-bottom .swiper-button-next {
    right: -30px;
  }
}
@media (max-width: 767.98px) {
  .care-bottom {
    padding-top: 20px;
  }
  .care-bottom .care-begin-slides {
    padding-bottom: 30px;
  }
  .care-bottom .care-begin-slides .care-box figure {
    margin-bottom: 20px;
    height: 220px;
  }
  .care-bottom .swiper-button-prev {
    top: calc(50% - 15px);
    display: none;
  }
  .care-bottom .swiper-button-next {
    top: calc(50% - 15px);
    display: none;
  }
  .care-bottom .progress-wheel {
    margin-top: 15px;
  }
}
.home-testimonials {
  padding: 100px 0;
  background: #E4DEAE;
}
.home-testimonials .testimon-wrap {
  max-width: 830px;
  margin: auto;
}
.home-testimonials .testimon-wrap h2 {
  line-height: 1.4;
}
.home-testimonials .testimon-wrap .head {
  height: auto;
  position: relative;
  z-index: 1;
}
.home-testimonials .testimon-wrap .head .quotes {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  max-width: 26%;
}
.home-testimonials .testimon-wrap p, .home-testimonials .testimon-wrap h3, .home-testimonials .testimon-wrap span {
  font-family: "Inter";
}
@media screen and (max-width: 575.98px) {
  .home-testimonials .testimon-wrap p {
    font-size: 14px;
  }
}
.home-testimonials .testimon-wrap .swiper-slide {
  opacity: 0;
  visibility: hidden;
}
.home-testimonials .testimon-wrap .swiper-slide.swiper-slide-active {
  opacity: 1;
  visibility: visible;
}
.home-testimonials .testimon-wrap .testimon-slider-pagination .swiper-pagination-bullet {
  opacity: 0.5;
  background-color: #000;
  margin: 0 10px;
}
.home-testimonials .testimon-wrap .testimon-slider-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
}

.footer {
  padding: 100px 0 40px 0;
  background-color: #000;
}
@media screen and (max-width: 991.98px) {
  .footer {
    padding: 40px 0;
  }
}
.footer .row.outer {
  --bs-gutter-x: 4.375rem;
}
@media screen and (max-width: 1419.98px) {
  .footer .row.outer {
    --bs-gutter-x: 0;
  }
}
@media screen and (max-width: 991.98px) {
  .footer .row.outer {
    margin-bottom: 2rem;
  }
}
.footer .row.outer .col-5 {
  width: 100%;
}
@media screen and (min-width: 992px) {
  .footer .row.outer .col-5 {
    width: 38%;
  }
}
@media screen and (min-width: 1420px) {
  .footer .row.outer .col-5 {
    width: 43.21%;
  }
}
.footer .row.outer .col-7 {
  width: 100%;
}
@media screen and (min-width: 992px) {
  .footer .row.outer .col-7 {
    width: 62%;
  }
}
@media screen and (min-width: 1420px) {
  .footer .row.outer .col-7 {
    width: 56.79%;
  }
}
@media screen and (max-width: 991.98px) {
  .footer .logo-social-wrap {
    margin-bottom: 3.5rem;
  }
}
@media screen and (max-width: 991.98px) {
  .footer .inner {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 991.98px) {
  .footer .inner > div {
    padding: 1.5rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
}
.footer .inner > div:first-child {
  padding-top: 0;
}
.footer .inner > div:nth-child(1) {
  max-width: 9.928125rem;
  width: 100%;
}
@media screen and (max-width: 991.98px) {
  .footer .inner > div:nth-child(1) {
    max-width: 100%;
  }
}
.footer .inner > div:nth-child(2) {
  max-width: 16.875rem;
  width: 100%;
}
@media screen and (max-width: 991.98px) {
  .footer .inner > div:nth-child(2) {
    max-width: 100%;
  }
}
.footer .inner > div:nth-child(3) {
  max-width: 14.6875rem;
  width: 100%;
}
@media screen and (max-width: 991.98px) {
  .footer .inner > div:nth-child(3) {
    max-width: 100%;
  }
}
.footer .inner > div + div {
  padding-left: 1.375rem;
}
@media screen and (max-width: 991.98px) {
  .footer .inner > div + div {
    padding-left: 0;
  }
}
.footer .inner .title {
  display: block;
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
  margin-bottom: 1.625rem;
  line-height: 1;
  letter-spacing: -0.03rem;
}
@media screen and (max-width: 1419.98px) {
  .footer .inner .title {
    font-size: 1.25rem;
  }
}
.footer .logo > a {
  width: max-content;
}
.footer .logo > a img {
  object-fit: contain;
}
.footer .social ul {
  gap: 0.75rem;
}
.footer .social a {
  width: 2.6875rem;
  height: 2.6875rem;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  transition: all ease-out 0.5s;
  justify-content: center;
}
@media screen and (min-width: 992px) {
  .footer .social a:hover {
    border-color: #e6c700;
  }
  .footer .social a:hover > svg path {
    fill: #e6c700;
  }
}
.footer .social a > svg {
  width: 0.98125rem;
  height: 0.9625rem;
}
.footer .social a > svg path {
  transition: all ease-out 0.5s;
}
@media screen and (max-width: 991.98px) {
  .footer .quick-links ul {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
  }
}
.footer .quick-links li {
  line-height: 1.75rem;
}
@media screen and (max-width: 991.98px) {
  .footer .quick-links li {
    width: 50%;
  }
}
.footer .quick-links li + li {
  margin-top: 0.9375rem;
}
@media screen and (max-width: 1419.98px) {
  .footer .quick-links li + li {
    margin-top: 0.5rem;
  }
}
@media screen and (max-width: 991.98px) {
  .footer .quick-links li + li {
    margin-top: 0;
  }
}
.footer .quick-links li:first-child {
  margin-top: 0;
}
.footer .quick-links a {
  color: #ccc;
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.6;
  transition: all ease-out 0.5s;
}
@media screen and (min-width: 992px) {
  .footer .quick-links a:hover {
    color: #e6c700;
  }
}
@media screen and (max-width: 1419.98px) {
  .footer .quick-links a {
    font-size: 1rem;
    letter-spacing: -0.01rem;
  }
}
.footer .address p {
  font-size: 1.125rem;
  line-height: 1.6;
  font-weight: 300;
  margin-bottom: 2rem;
  color: #fff;
}
@media screen and (max-width: 1419.98px) {
  .footer .address p {
    font-size: 1rem;
    letter-spacing: -0.01rem;
  }
}
@media screen and (max-width: 1199.98px) {
  .footer .address p {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 991.98px) {
  .footer .address p {
    max-width: 14.375rem;
  }
}
.footer .address a {
  color: #fff;
  text-decoration: none;
  font-size: 1.375rem;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: 0.01375rem;
  transition: all ease-out 0.5s;
}
@media screen and (min-width: 992px) {
  .footer .address a:hover {
    color: #e6c700;
  }
}
.footer .address a:not(:first-child) {
  margin-top: 0.4375rem;
}
@media screen and (max-width: 1419.98px) {
  .footer .address a {
    font-size: 1.125rem;
    letter-spacing: 0.01125rem;
  }
}
.footer .copyright-wrap {
  margin-top: 20px;
}
@media screen and (max-width: 991.98px) {
  .footer .copyright-wrap {
    display: flex;
    flex-direction: column;
  }
}
.footer .copyright-wrap .social {
  margin-bottom: 2rem;
}
.footer .copyright-wrap p {
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: 0.0225rem;
}
@media screen and (max-width: 991.98px) {
  .footer .copyright-wrap p {
    font-size: 1rem;
    letter-spacing: 0.02rem;
    text-align: center;
  }
}
.footer .copyright-wrap p a {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  transition: all ease-out 0.5s;
}
@media screen and (min-width: 992px) {
  .footer .copyright-wrap p a:hover {
    color: #fff;
  }
}
.footer .copyright-wrap p {
  color: #fff;
}
.footer .copyright-wrap p + p {
  margin-top: 0.625rem;
}/*# sourceMappingURL=home.css.map */